body,html, #root {
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: 'New Century Schoolbook', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

