:root {
  --primary:rgb(39, 39, 39);
  --secondary:rgb(153, 153, 153);

}
html,body {
  height: 100%;
}

#root {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--primary);
  color: var(--secondary);
  height: 100%;
}

.App {
  height: 100%;
}

header {
  margin: 0 1rem 1rem 1rem ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondary);
  font-size: 2em;
  color: var(--secondary);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  min-height: 100vh;
}

footer {
  height: 5rem;
  background-color: var(--primary);
  color: var(--secondary);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  border-top: var(--secondary) 1px solid;
  padding-top: 2rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button {

}

.main-button {
  font-size: 2em;
  color: var(--primary);
  border-radius: 5px;
  padding: 1em;
  margin: 2em;
  background-color: var(--secondary);
  transition: 500ms;
}

.main-button:hover {
  transform: scale(1.1);
}

.Table {
  color: var(--secondary);
}

svg {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: var(--secondary);
}
